

/* Generic Styling for the App  */
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: linear-gradient(90.41deg, #BC31DB 1.14%, #0ACFDE 100%);
}

main {
  padding: 36px;
}


img{
  max-width: 800px;
  border: 10px solid black;
} 



/* HEADER section */

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #0DAADB 1.18%, #44CD08 100%);
  color: white;
  padding: 20px;
}



.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--tagline {
  font-size: 0.75rem;
  font-weight: 700;
}
/* ============================================ */







/* FORM section */

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #0085AF 1.14%, #2D8B04 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.poster {
  position: absolute;
  /* left: 10%; */
  /* height: 80%; */
}

.poster--image {
  max-height: 60%;
  border-radius: 3px;
}

.poster--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: 'Baskervville', serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
  font-size: 4rem;
}